
html{
    background:linear-gradient(45deg, #1c5728,#97753a) ;
    
}

header{
    display: flex;
    background: linear-gradient(45deg, #50493d, #0f2c15);
    height: 80px;
    align-content: end;
    border-radius: 10px;
    padding-left: 800px;
    
}

header p{
    color: beige;
    font-family: "arial narrow";
    font-weight:bold;
    margin-right: 50px;
    
}
header button{
    margin-top: 20px;
    width: 200px;
}
header button:hover{
    
    width: 200px;
}

header #carritoIcon{
    font-size: 30px;
}

main{
    display: flex;
}

div{

    display: block;
    width: 300px;
    height: 550px;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 5px;
    background: linear-gradient(45deg, #50493d, #0f2c15);
    overflow: hidden; /* Oculta el desbordamiento */
    font-family: 'Arial Narrow';
    font-weight: lighter;
    color: beige;
}

div h3{
    margin-left: 50px;
}
div p{
    margin-left: 50px;
}


.image{
    max-width: calc(100% - 46px); /* Resta los márgenes (23px * 2) */
    height: 60%; /* 150px */
    margin: 23px; /* Mantienes el margen */
    border-radius: 20px;
    display: block; /* Evita espacios no deseados */ 
    
}
button{
    background-color: transparent;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    margin-left: 50px;
    border: 2px solid #b3d325;
    font-size:larger;
    color: beige;
}

button:hover{
    background-color: #b3d325;
    border: 2px solid #ffffff;
    height: 42px;
    width: 72px;
}